{% extends "homebase.html" %}

{% block  title %}  {{ categorydata.title}}  {% endblock %}
{% block  keywords %} {{ categorydata.keywords }} {% endblock %}
{% block  description %} {{ categorydata.description }} {% endblock %}

{% block head %}
<link rel ='shortcut icon' type="image/icon" href = '{{setting.icon.url}}' />
{% endblock %}

{% block  slider %}
{% include 'slider.html' %}
{% endblock %}

{% block  body %}




 <div class="content">
            <div class="content_resize">

                 <div class="mainbar">

                     <div class="clr"></div>

                       <div class="article">

                      <h2> {{ categorydata.title}} </h2>
                            {% for rs in announcement %}
                      <div class="clr"></div>
                      <div class="comment">
                          <a href="/announcement/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}
                              <img src="{{ rs.image.url }}" width="300" height="200" alt="" class="userpic" />
                          </a>

                        <p>{{ rs.description }}</p>
                      </div>
                           {% endfor %}


                    </div>





                </div>



<!--                  {% include 'sidebar.html' %}-->

                  <div class="clr"></div>
        </div>-->




 </div>


{% endblock %}
