{% extends "homebase.html" %}

{% block  title %} Detail {{ setting.school }}  {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %} {{ setting.description }} {% endblock %}

{% block body %}
<link rel ='shortcut icon' type="image/icon" href = '{{setting.icon.url}}' />
{% endblock %}

{% block  slider %}
{% include 'slider.html' %}
{% endblock %}


{% block  content %}
 <div class="content">
     <div class="content_resize">
    <div class="mainbar">
        {{ content.detail|safe }}
          </div>

            {% include 'sidebar.html' %}
          <div class="clr"></div>
    </div>
  </div>

{% endblock %}
