{% extends "homebase.html" %}

{% block  title %} Log In{{ setting.school }}  {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel ='shortcut icon' type="image/icon" href = '{{setting.icon.url}}' />
{% endblock %}

{% block  slider %}
{% include 'slider.html' %}
{% endblock %}

{% block  body %}




<div class="content">
    <div class="content_resize">
        <div class="mainbar">
           {{ setting.contact|safe }}

        <div class="article">
          <h2><span>Log In</span> </h2>
          <div class="clr"></div>

            {% if messages %}
               {%for message in messages %}
                  <div class=" alert-alert-{{message.tags}}" role="alert">
                      {{message}}
                  </div>
               {% endfor %}
            {% endif %}
                 <form action="" method="post" id="sendemail">
                      {% csrf_token %}
                       <div class="container">

                        <input type="text" placeholder="Enter Username" name="username" class="input" required>
                        <input type="password" placeholder="Enter Password" name="password" class="input" required>
                      <input type="submit" value="Log In">

                     </form>


        </div>

    </div>
          {% include 'sidebar.html' %}
          <div class="clr"></div>
    </div>
  </div>-->

{% endblock %}
