 <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Category</span> Menu</h2>

          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="/category/{{ rs.id }}/{{ rs.slug }">{{ rs.title }</a></li>
            <li><a href="#">Category Info</a></li>
            <li><a href="#">Teachers</a></li>
              <li><a href="#">Announcement</a></li>
            <li><a href="#">Gallery</a></li>
          </ul>

        </div>
        <div class="gadget">
          <h2 class="star"><span>Sponsors</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">Deep Learning Türkiye</a><br />
              For code training</li>
            <li><a href="#">Kids Travel</a><br />
              For trip activities</li>
            <li><a href="#"> BKM  Show Center</a><br />
              For theater activities</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
