{% load static %}

<div class="clr"></div>
      <div class="slider">
        <div id="coin-slider">
            <a href="#"><img src="{% static 'images/slide1.jpg' %}" width="960" height="335" alt="" /> </a>
            <a href="#"><img src="{% static 'images/slider2.png' %}" width="960" height="335" alt="" /> </a>
            <a href="#"><img src="{% static 'images/slider3.jpg' %}" width="960" height="335" alt="" /> </a>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>