{% extends "homebase.html" %}

{% block  title %} {{ profile.user_name }}  {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type="image/icon" href='{{setting.icon.url}}'/>
{% endblock %}

{% block  slider %}
{% include 'slider.html' %}
{% endblock %}

{% block  body %}


<div class="content">
    <div class="content_resize">
        <div class="sidebar">
            {% include "user_panel.html" %}

        </div>
        <div class="mainbar" style="float:left;width:690">

            <div class="article">
                <h2><span>Change Password </span></h2>

                <div>
                    {% if messages %}
                    {% for message in messages %}
                    <div style="color :green; font-size:medium">
                        {{ messages | safe }}

                    </div>

                    {% endfor %}
                    {% endif %}
                </div>


                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}

                    {{ field.label_tag }} </br>
                    {{ field }}</br>
                    {% if field.help_text %}
                    <small style="color: grey"> {{ field.help_text }}</small>
                    {% endif %}
                    {% for error in fields.errors %}
                    <p style="color:grey"> {{ error }} </p>
                    {% endfor %}


                    {% endfor %}
                    <button type="submit">save changes</button>


                </form>


            </div>


        </div>
        <div class="clr"></div>
    </div>
</div>

{% endblock %}
