{% extends "homebase.html" %}

{% block  title %} {{ profile.user_name }}  {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type="image/icon" href='{{setting.icon.url}}'/>
{% endblock %}

{% block  slider %}
{% include 'slider.html' %}
{% endblock %}

{% block  body %}


<div class="content">
    <div class="content_resize">
        <div class="sidebar">
            {% include "user_panel.html" %}

        </div>
        <div class="mainbar" style="float:left;width:690">

            <div class="article">
                <h2><span>content</span></h2>
                <!--  <tr>-->
                <th class="text-left">
                    <a href="/user/addcontent" type="button" class="btn btn-warning">add content</a>

                    <!--                    <a href="/user/addcontent" class=primary-btn>add content</a>-->

                </th>
                </tr>
                <table cellpadding="10" width="80">
                    <tr>
                        <th class="text-left"> Image</th>
                        <th class="text-left"> Title</th>
                        <th class="text-left"> Type</th>
                        <th class="text-left"> Menu</th>
                        <th class="text-left"> Gallery</th>
                        <th class="text-left"> Status</th>
                        <th class="text-left"> Detail</th>
                    </tr>

                    {% for rs in contents %}
                    <tr>
                       <!-- <td class="text-left">
                            &nbsp; <a href="/content/{{ rs.id }}/{{ rs.slug }}"></a></td>-->
                        <td class="text-left"><img src="{{ rs.image.url }}" width="50" height="50"> </a></td>

                        <td class="text-left"> {{ rs.title }}</td>
                        <td class="text-left"> {{ rs.type }}</td>
                        <td class="text-left"> {{ rs.menu.title }}</td>
                        <td class="text-left"> <a href="javascript:;" onclick="window.open('/user/contentaddimage/{{ rs.id }}','gallery','height=600,width=800,top=50,left=150')">Gallery</a></td>
                        <td class="text-left"> {{ rs.status }}</td>
                        <td class="text-left">
                            <a href="/user/contentedit/{{ rs.id }}" type="button" class="btn btn-warning">Edit
                            </a>
                            <!--                            <a href="/user/contentedit/{{ rs.id }}">Edit</a>-->
                        </td>
                        <td class="text-left">
                            <a href="/user/contentdelete/{{ rs.id }}" type="button" onclick="return confirm('Are you Sure')" class="btn btn-danger">Delete
                            </a>

                            <!--                            <a class=" primary-btn" href="/user/contentdelete/{{ rs.id }}"-->
                            <!--                               onclick="return confirm('Are you Sure')">Delete </a>-->
                        </td>
                    </tr>
                    {% endfor %}


                </table>
            </div>
        </div>

        <div class="clr"></div>
    </div>
</div>

{% endblock %}
