{% extends "homebase.html" %}

{% block  title %} {{ profile.user_name }}  {% endblock %}
{% block  keywords %} {{ setting.keywords }} {% endblock %}
{% block  description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel ='shortcut icon' type="image/icon" href = '{{setting.icon.url}}' />
{% endblock %}

{% block  slider %}
{% include 'slider.html' %}
{% endblock %}

{% block  body %}




<div class="content">
    <div class="content_resize" style="width:1300px">
           <div class="sidebar">
            {% include "user_panel.html" %}

        </div>
        <div class="mainbar" style="float:left;width:690">


        <div class="article">
            <h2><span>Add Content </span></h2>
              {% load static %}

              <form action="" method="POST" >
                      {% csrf_token %}
                       <div class="container">
                 {{ form.media }}
                 {{ form.as_p}}
                       </div>
                   <div>
                      <button type="submit">Save</button>
                   </div>
                </form>



        </div>

        </div>

          <div class="clr"></div>
    </div>
  </div>

{% endblock %}
